<app-navbar></app-navbar>
<router-outlet></router-outlet>





<!-- <div class="container">
  <app-home></app-home> 
 
 
  <app-create-booking></app-create-booking>
  <app-detail-view-booking></app-detail-view-booking>
  <app-list-view-booking></app-list-view-booking>
  <app-login></app-login>
  <app-admin-details></app-admin-details>
  <app-all-movies></app-all-movies>
  <app-create-movie></app-create-movie>
  <app-detail-view-movie></app-detail-view-movie>
  <app-movie-dashboard></app-movie-dashboard>
  <app-update-movies></app-update-movies>
  <app-navbar></app-navbar>
  <app-create-show></app-create-show>
 
  <app-list-view-show></app-list-view-show>
  <app-update-show></app-update-show>
  <app-create-user></app-create-user>
  <app-booking></app-booking>
  <app-detail-view-show></app-detail-view-show>

  <app-navbar></app-navbar>
  <router-outlet></router-outlet>

 

</div> -->


 <!-- <app-payment-details></app-payment-details> -->
 